data.*
lcurve*ref
tab.xvg

# for training dirs
*.out
out.json
model.ckpt*
checkpoint
profiler.json_*
events.*
*.pbtxt
graph-compress-preprocess.pb
graph-compress.pb
graph-original.pb

# for lammps
log.cite
log.lammps
*.dump